<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>TOP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <script type="text/javascript" th:inline="javascript">

    </script>
</head>
<body>
<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">History</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form class="dropdown-item" name="logout" th:action="@{/logout}" method="post">
                            <span onclick="logout.submit()">Sign out</span>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <p>Hello, <span th:remove="tag" sec:authentication="name">username</span>!</p>
        <p>You took 3000 calories today.</p>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Nutrients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Calories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Something</a>
        </li>
    </ul>

    <div class="row">
        <canvas id="graph"></canvas>
    </div>

    <!-- Button trigger modal -->
    <button type="button" id="modalTriggerBtn" class="btn btn-primary position-fixed rounded-circle"
            data-bs-toggle="modal"
            data-bs-target="#inputModal">＋
    </button>

</div>

<!-- Vertically centered modal -->
<div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="inputModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalLabel">Meal recording</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/home/input}" name="mealForm">
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" aria-label="Default select example" name="category" id="category"
                                aria-describedby="categoryHelp" onchange="filter(this.value)">
                            <option value="0" selected>All</option>
                            <option th:each="category: ${categories}" th:value="${category.id}"
                                    th:text="${category.name}">Meat
                            </option>
                        </select>
                        <div id="categoryHelp" class="form-text">Please select the category of food.</div>
                    </div>
                    <div class="mb-3">
                        <label for="food" class="form-label">Name</label>
                        <select class="form-select" aria-label="Default select example" name="food" id="food"
                                aria-describedby="foodHelp" th:field="${form.foodId}">
                        </select>
                        <div id="foodHelp" class="form-text">Please select or input your food.</div>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity"
                               aria-describedby="quantityHelp" th:field="${form.quantity}">
                        <div id="quantityHelp" class="form-text">Please input the quantity of food.</div>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date and time</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="date" name="date"
                                   aria-describedby="dateHelp" th:field="${form.date}">
                            <input type="time" class="form-control" id="time" name="time"
                                   aria-describedby="dateHelp" th:field="${form.time}">
                        </div>
                        <div id="dateHelp" class="form-text">Please input when you have its food.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="mealForm.submit();">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/js/graph" th:src="@{/js/graph.js}" type="text/javascript"></script>
<script src="../static/js/home" th:src="@{/js/home.js}" type="text/javascript"></script>
</body>
</html>